<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <h3>非公開ページのパスワードを設定</h3>
        <%= form_with(url: create_secret_password_path, local: true) do |f| %>
            <div class="form-group">
                <%= f.label :secret_password, "パスワード" %>
                <%= f.password_field :secret_password, class: "form-control", required: true %>
            </div>
            <div class="form-group">
                <%= f.label :password_confirmation, "パスワード（確認用）" %>
                <%= f.password_field :password_confirmation, class: "form-control", required: true %>
            </div>
            <div>
                <%= f.submit "設定", class: "btn btn-primary center-block" %>
            </div>
        <% end %>
    </div>
</div>