<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <h1>編集ページ</h1>
        <%= form_with(model: @meal_record, local: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group">
            <%= f.label :meal_content, "食べたもの" %>
            <%= f.text_field :meal_content, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :total_calorie, "合計カロリー（kcal）" %>
            <%= f.number_field :total_calorie, class: 'form-control' %>
        </div>
        <%= f.submit "更新", class: "btn btn-primary center-block" %>
        <% end %>
    </div>
</div>