<h3>現在のポイント：<%= current_user.point %>pt</h3>
<div class="row">
    <% if @meal_records %>
    <% @meal_records.each do |mr| %>
    <div class="col-xs-10">
        <table class="table table-bordered">
            <tr>
                <th>
                    日付
                </th>
                <th>
                    食べたもの
                </th>
                <th>
                    合計カロリー（kcal）
                </th>
            </tr>
            <tr>
                <td>
                    <%= mr.created_at.strftime('%Y/%m/%d') %>
                </td>
                <td>
                    <%= mr.meal_content %>
                </td>
                <td>
                    <%= mr.total_calorie %>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-xs-2 mt-5">
        <!-- <%= link_to "編集", edit_meal_record_path(mr) %> -->
        <%= form_with(url: edit_meal_record_path(mr.id), method: :get, local: true) do |f| %>
        <%= f.submit "編集", class: "btn btn-success" %>
        <% end %>
    </div>
    <% end %>
    <% end %>
</div>