<div class="row">
    <div class="col-md-6">
        <%= form_with(url: foods_search_path, method: :get, local: true) do |f| %>
        <%= f.text_field :search_name %>
        <%= f.submit "検索", class: "btn btn-primary" %>
        <% end %>
        <%= link_to "食品を新しく登録する", new_food_path %>

        <% if @foods %>
        <ul>
            <% @foods.each do |food| %>
            <li>
                <%= form_with(url: new_meal_record_path, method: :get, local: true) do |f| %>
                <%= food.food_name %><%= food.quantifier %>（<%= food.calorie %>kcal） ×
                <%= f.number_field :multiple, step: "0.1" %>
                <%= f.hidden_field :food_name, value: food.food_name %>
                <%= f.hidden_field :quantifier, value: food.quantifier %>
                <%= f.hidden_field :calorie, value: food.calorie %>
                <%= f.submit "追加", class: "btn btn-primary" %>
                <% end %>
            </li>
            <% end %>
        </ul>
        <% end %>
    </div>
    <% if session[:result] %>
        <ul>
            <% session[:result].each do |r| %>
                <li>
                    <%= r["food_name"] %>（<%= r["quantifier"] %>） × <%= r["multiple"] %>
                </li>
            <% end %>
        </ul>
        <%= form_with(model: @meal_record, local: true) do |f| %>
            <%= f.submit "保存", class: "btn btn-primary" %>
        <% end %>
    <% end %>
</div>