<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <h1>食品登録</h1>
        <%= form_with(model: @food, local: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group">
            <%= f.label :food_name, "食品名" %>
            <%= f.text_field :food_name, class: 'form-control', placeholder: '例：牛丼' %>
        </div>
        <div class="form-group">
            <%= f.label :search_name, "ふりがな" %>
            <%= f.text_field :search_name, class: 'form-control', placeholder: '例：ぎゅうどん' %>
        </div>
        <div class="form-group">
            <%= f.label :quantifier, "基準値" %>
            <%= f.text_field :quantifier, class: 'form-control', placeholder: '例：1人前' %>
        </div>
        <div class="form-group">
            <%= f.label :calorie, "カロリー（kcal）" %>
            <a href="https://www.eatsmart.jp/do/caloriecheck/index">参考サイト</a>
            <%= f.text_field :calorie, class: 'form-control', placeholder: '例：672' %>
        </div>
        
        <%= f.submit "登録", class: "btn btn-primary center-block" %>
        
        <% end %>
    </div>
</div>
