<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <h1>体重登録</h1>
        <%= form_with(model: @secret, local: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group">
            <%= f.label :weight, "体重（kg）" %>
            <%= f.number_field :weight, class: 'form-control', step: 0.1, required: true %>
        </div>
        <%= f.submit "登録", class: "btn btn-primary center-block" %>
        
        <% end %>
    </div>
</div>
